
#nav {
    padding-bottom:5em;
    display: block;

}

#logo {
    position: relative;
    float: left;

    width: 30%;
}

#navTools{
    position: relative;
    float: left;

    width: 50%;
}

#user{
    position: relative;
    float: left;

    width: 20%;
}
	