#Featured {

    float: left;
    margin: 0 1em 0 1em;
    width: 90%;
    padding-bottom:1em;
    display: block;
}

#Popular{

    display: block;
    margin: 0 1em 0 1em;
    width: 50%;
    float: left;
}
#Top{
    display: block;
    margin: 0 1em 0 1em;
    width: 40%;
    float: left;
}