/* Overlay when Modal is open */
#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}

/* Modal box or Popup box */
.popupContainer{
    position:absolute;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

/* Css for modal form buttons and such */
.btn_red  {
    background:  #ED6347;
    color:  #FFF;
}

.btn:hover  {
    background:  #E4E4E2;
}

.btn_red:hover  {
    background:  #C12B05;
}



/* Modal form general css */
/* Popup Styles*/
.popupHeader  {
    font-size: 16px;
    text-transform:  uppercase;
}

.popupHeader  {
    background: #F4F4F2;
    position: relative;
    padding: 10px 20px;
    border-bottom: 1px solid #DDD;
    font-weight: bold;
}

.popupHeader .modal_close  {
    position:  absolute;
    right:  0;
    top: 0;
    padding: 10px 15px;
    background: #E4E4E2;
    cursor:  pointer;
    color: #aaa;
    font-size: 16px;
}

.popupBody  {
    padding: 20px;
}

/* User Register Form */
.user_register  {
    display:  none;
}

.user_register label  {
    display:  block;
    margin-bottom: 5px;
}

.user_register input[type="text"],  .user_register input[type="email"],  .user_register input[type="password"]  {
    display:  block;
    width: 90%;
    padding:  10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_register input[type="checkbox"]  {
    float: left;
    margin-right: 5px;
}

.user_register input[type="checkbox"]+label  {
    float: left;
}


.user_register .checkbox  {
    margin-bottom:  10px;
    clear:  both;
    overflow:  hidden;
}

/* User Login Form */
.user_login  {
    /*display:  none;*/
}

.user_login label  {
    display:  block;
    margin-bottom: 5px;
}

.user_login input[type="text"],  .user_login input[type="email"],  .user_login input[type="password"]  {
    display:  block;
    width: 90%;
    padding:  10px;
    border: 1px solid #DDD;
    color: #666;
}

.user_login input[type="checkbox"]  {
    float: left;
    margin-right: 5px;
}

.user_login input[type="checkbox"]+label  {
    float: left;
}


.user_login .checkbox  {
    margin-bottom:  10px;
    clear:  both;
    overflow:  hidden;
}

.forgot_password  {
    display: block;
    margin:  20px 0 10px;
    clear:  both;
    overflow:  hidden;
    text-decoration:  none;
    color: #ED6347;
}