#EventHeader
{
    height: auto;
    width: 100%;
}
#HomeHub
{
    width: 100%;
    display: block;
}


#UserFeed
{

    display: block;
    float: left;
    width: 70%;
}

#HomeUsers
{

    width: 30%;
    float: left;
    display: block;

}
